// -----------------------------------------------------------------------------
// Button - widgets
// -----------------------------------------------------------------------------

.btn,
.mx-button {
  padding: ($spacing-smaller / 2) $spacing-small;

  &:not(.toggle-btn) {
    height: $btn-medium-height;
  }

  &.disabled,
  &[disabled],
  &[aria-disabled] {
    background-color: $global-brand-gray-primary;
    border-color: $global-brand-gray-primary;
    color: $global-brand-gray-light;

    .badge {
      background-color: $global-brand-gray-light;
      color: $global-brand-gray-primary;
    }
  }
}

.btn,
.mx-button,
.mx-link {
  img {
    height: 14px;
    margin-right: 0;
  }
}

.mx-link {
  &.btn-sm,
  &.btn-lg {
    line-height: $line-height-base;
    padding: 0;
  }
}

.link-back {
  align-items: center;
  color: $global-brand-primary;
  display: inline-flex;
  gap: $spacing-smaller;

  &:hover,
  &:focus {
    color: $global-brand-primary;
  }
}
