// -----------------------------------------------------------------------------
// Input - widgets
// -----------------------------------------------------------------------------

.form-control {
  max-height: $form-input-height;
}

textarea {
  &.form-control {
    max-height: none;
  }
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: $form-input-bg-disabled;
  color: $form-input-disabled-color;
  opacity: 1;
}

.form-group {
  .control-label {
    line-height: 15px;
    margin-bottom: ($spacing-small / 2);
  }
}

.has-error {
  .radio,
  .radio-inline {
    color: $global-brand-danger;
  }

  .form-control {
    border-color: $global-brand-danger;
    box-shadow: none;

    &:focus {
      border-color: $global-brand-danger;
      box-shadow: none;
    }
  }
}

select.form-control {
  background-image: url("../../../img/Globus$Images$Caret.svg");
  padding-right: $spacing-large;
}

.mx-compound-control {
  flex-wrap: nowrap;
  gap: $spacing-smaller;

  .mx-button {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding: $spacing-smaller ($spacing-smaller * 1.5);

    .glyphicon-calendar,
    .glyphicon-share-alt {
      display: block;

      &::before {
        background-repeat: no-repeat;
        background-size: 15px;
        font-size: 0;
        display: block;
        height: 15px;
        width: 15px;
      }
    }

    .glyphicon-calendar {
      &::before {
        background-image: url("/img/Globus$Images$Calendar.svg");
      }
    }

    .glyphicon-share-alt {
      &::before {
        background-image: url("/img/Globus$Images$Respond_arrow.svg");
      }
    }

    &[disabled] {
      background-color: $form-input-bg-disabled;
      color: $form-input-disabled-color;
      opacity: 1;
    }
  }
}

.mx-referenceselector {
  .form-control[readonly] {
    background-color: $form-input-bg;
    color: $form-input-color;

    &[disabled] {
      background-color: $form-input-bg-disabled;
      color: $form-input-disabled-color;
    }
  }
}

.mx-fileinput {
  .mx-compound-control {
    .mx-button {
      padding: $spacing-smaller $spacing-small;
    }
  }
}

@media only screen and (min-width: $screen-md) {
  .form-horizontal {
    .control-label {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }
}

.form-horizontal {
  .form-group {
    margin-left: -$gutter-size;
    margin-right: -$gutter-size;
  }
}

::placeholder {
  color: $form-input-placeholder-color;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $form-input-placeholder-color;
}

::-ms-input-placeholder {
  color: $form-input-placeholder-color;
}
