// -----------------------------------------------------------------------------
// Navigation - widgets
// -----------------------------------------------------------------------------

.mx-navigationtree {
  .navbar-inner > ul {
    & > li {
      & > a {
        font-weight: $font-weight-semibold;
        border-bottom: 0;

        .caret {
          border: 0;
          display: inline-block;
          margin-left: ($spacing-small / 2);
          height: 14px;
          width: 14px;

          &::after {
            background: url("../../../img/Globus$Images$Caret.svg") no-repeat;
            content: "";
            display: inline-block;
            height: 14px;
            width: 14px;
          }
        }

        img {
          margin: 0 20px;
        }
      }
    }
  }

  li.mx-navigationtree-has-items {
    & > ul {
      padding: 10px 0;

      li {
        a {
          padding: 10px 20px 10px 25px;
        }
      }
    }
  }
}
