// -----------------------------------------------------------------------------
// Alerts
// -----------------------------------------------------------------------------

.alert {
  padding: $spacing-small;
}

.mx-validation-message {
  &.alert {
    background-color: transparent;
    border: 0;
    font-size: $font-size-small;
    margin-top: ($spacing-small / 4);
    padding: 0;
  }
}
