// -----------------------------------------------------------------------------
// Breadcrumbs
// -----------------------------------------------------------------------------

.breadcrumb-item {
  &:last-child {
    color: $global-brand-text-secondary;
    cursor: default;
    text-decoration: none;
  }

  & + .breadcrumb-item {
    &::before {
      color: $global-brand-text-secondary;
      padding: 0 ($spacing-small / 2);
    }
  }
}
