// -----------------------------------------------------------------------------
// Cards
// -----------------------------------------------------------------------------

.card {
  border: 1px solid $global-brand-gray-tint;
  padding: $spacing-medium;
  margin-bottom: 0;
  overflow: visible;
}

.card-body {
  padding: $spacing-medium;
}

.card-overlay {
  border-radius: 0 0 $border-radius-default $border-radius-default;
  padding: $spacing-medium;
}

.card-with-image {
  padding: 0;

  .card-image {
    border-radius: $border-radius-default $border-radius-default 0 0;
  }
}

.card-with-background {
  padding: 0;

  .card-image {
    border-radius: $border-radius-default;
  }
}
