// -----------------------------------------------------------------------------
// Atlas layout
// -----------------------------------------------------------------------------

.layout-atlas {
  .region-sidebar {
    box-shadow: 0 2px 8px 0 rgba($global-brand-black, 0.08);

    .mx-scrollcontainer-wrapper {
      padding: 0;

      .mx-navigationtree .navbar-inner > ul > li > a {
        padding: $spacing-small 0;

        .glyphicon {
          margin-right: 0;
        }
      }
    }
  }

  .region-topbar {
    box-shadow: 0 1px 8px 0 rgba($global-brand-black, 0.08);

    .toggle-btn {
      img {
        height: 20px;
      }
    }

    .navbar-brand {
      img {
        margin-right: 0;
      }
    }
  }
}
