// -----------------------------------------------------------------------------
// Button - helpers
// -----------------------------------------------------------------------------

.btn-sm {
  padding: ($spacing-small - 10px) ($spacing-small - 4px);
}

.btn-lg {
  padding: $spacing-small $spacing-large;
}

.btn-sm,
.btn-lg {
  line-height: 1.25;
}
