// -----------------------------------------------------------------------------
// Groupbox - helpers
// -----------------------------------------------------------------------------

.groupbox-transparent {
  > .mx-groupbox-header {
    color: $global-brand-primary;
    font-size: $font-size-default;
    font-weight: $font-weight-semibold;
    padding: $spacing-small;
  }

  .mx-groupbox-body {
    border-bottom-color: transparent;
    padding: $spacing-small;
  }
}

.groupbox-callout {
  .mx-groupbox-header + .mx-groupbox-body {
    padding-top: $spacing-small;
  }
}
