// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

::selection {
  background-color: $global-brand-primary;
  color: $global-brand-white;
}

a:focus {
  outline: none;
}
